<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
<!--    在遍历过程中没有使用索引值-->
    <ul>
        <li v-for="item in names">{{item}}</li>
    </ul>

    <ul>
        <li v-for="(item,index) in names">
            {{index}}.{{item}}
        </li>
    </ul>

    <ul>
        <li v-for="(value,key) in info">{{key}}-{{value}}</li>
    </ul>

</div>
<script src="../js/vue.js"></script>
<script>
    const app = new Vue({
        el:'#app',
        data:{
            names:['whf','asdfsadf','aaa','bbb'],
            info:{
                name:'why',
                age:18,
                height:1.88
            }
        }
    })
</script>
</body>
</html>